<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%=title %></title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"> -->
</head>
<body screen_capture_injected="true">
<div class="well jumbotron">
    <h1><%= title %></h1>
    <p>欢迎<%= user['username'] %>登录，您的密码是:<%= user.password %></p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<script src="/javascripts/jquery-2.0.3.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>