<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%=title %></title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"> -->
</head>
<body screen_capture_injected="true">
登出
<script src="/javascripts/jquery-2.0.3.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>